@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+San');
/*----------------------------------------------------------------
    Branding Colour
----------------------------------------------------------------*/

#header2a:before,
header a, 
header span, 
#header2a a
#header2b a:hover {
    color:#fff;
}

blockquote {
    border-color:#669933;
}

#content strong,
#banner strong {
    color: #73ae2d;
}

body, 
ul li,
#banner p,
#header2b a
.formbuilder-form label {
    color: #fff;
    font-weight: 100;
}

#banner h1  {
    font-weight: 400;
}

#contact h1,
#contact h2,
#contact h3,
.contact_detail,
.contact_detail a,
.contact_detail a:hover,
.contact_detail a:focus,
#contact p {
    color: #000;
}

#content h1,
#content h2,
#content h3 {
    color: #73ae2d;
}

#services h3 {
    background-color: #73ae2d;
    color: #fff;
    padding: 5px;

}

footer a:hover,
#services p,
#banner h1, 
#banner p {
    color: #fff;
}


#header2b a,
footer a, 
.btn, 
.btn:hover, 
.btn:focus, 
.btn:active, 
.formbuilder-form input#submit-form,
.formbuilder-form input#submit-form:hover, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover {
    text-decoration: none;
}

footer a, 
#content h1,
#content h2,
#content h3,
#contact h1,
#contact h2,
#contact h3 {
    text-transform: uppercase;
}
/*----------------------------------------------------------------
    Custom Styles
----------------------------------------------------------------*/

h1, 
h2, 
h3, 
h4,
p, 
.btn, 
.formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form {
    font-family: 'Open Sans', sans-serif;
}
/*----------------------------------------------------------------
- Form
----------------------------------------------------------------*/

.form, #quote_form_form, 
#extraFormsContainer .modal-dialog {
    background-color: rgb(59, 59, 59);
}

/*----------------------------------------------------------------
- Buttons
----------------------------------------------------------------*/

.btn {
    color: #fff;
    text-shadow:none;
    border-radius:10px;
    border: 2px solid #fff;
    background-color: transparent;
}

.formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form {
    color: #fff;
    border-color: none;
    background-color: #73ae2d;
}

.btn:hover,
.formbuilder-form input#submit-form:hover, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover {
    background-color: #73ae2d;
    color: #fff;
    border:none;
}


/*----------------------------------------------------------------
- Header
----------------------------------------------------------------*/

#header{}
#header1 img {
    border-radius: 10px;
    padding-top:3px;
}

#header2b {
    font-size: 21px;
}

#header2 {
    padding-bottom: 25px;
}

#header2a:before {
    content: '\f098';
    padding-right:5px;
    font-size: 35px;
}
/*----------------------------------------------------------------
- Banner 
----------------------------------------------------------------*/

.bg {
    background-color: rgba(19, 18, 18, 0.8);
    border-radius: 20px;
    padding: 20px;
}

#banner, 
#banner h1 {
    margin:0;
    text-align: center;
}

#banner hr {
    width:50%;
    border: 1px solid #fff;
}

#banner {
    padding: 90px 0 105px;
}

.banner_cover {
    margin-top: 40px;
    opacity: 1.0;
    background-color: #141414;
    box-shadow: 0px 4px 5px rgba(26, 26, 26, 0.3);
    height: 117px;
}
/*----------------------------------------------------------------
- Services
----------------------------------------------------------------*/

#services{
    padding: 50px 0;
    background-color: rgb(28, 34, 39);
    box-shadow: 0px 4px 5px rgba(26, 26, 26, 0.3);
}

#service1,
#service2,
#service3,
#service4 {
    transition: 0.2s 0.2s ease-out;
    padding-top:20px;
    padding-bottom:30px;
}
#service1:hover,
#service2:hover,
#service3:hover,
#service4:hover {
    transform: scale(1.1);
    border-radius:20px;
}

/*----------------------------------------------------------------
- Content
----------------------------------------------------------------*/

#content img {
    /*border: 5px solid #fff;*/
    box-shadow: 0px 3px 5px rgba(0,0,0,0.9);
}

blockquote {
    background-color: #efece2;
}

blockquote p  {
    color: #555;
    font-size:19px;
    line-height:25px;
    font-weight:normal;
}
/*----------------------------------------------------------------
- Contact
----------------------------------------------------------------*/

.contact_address {
    margin-bottom: 10px;
}

/*----------------------------------------------------------------
    Hide Blocks
----------------------------------------------------------------*/

#contact2c,
#contact2d,
#contact2e,
#contact1b {
    display:none;
}

/*----------------------------------------------------------------
    Footer
----------------------------------------------------------------*/

footer *, 
footer a , 
footer {
    color: #8a8b8b;
}

footer {
    background-color: rgb(36, 36, 36);
    padding: 15px 0 15px;
}

/*----------------------------------------------------------------
    Media Queries
----------------------------------------------------------------*/

@media only screen and (min-width: 1200px){
    #content1a,
    #content2b {
        width: 45%;
    }
     
    #content3a,
    #content4b {
        width: 50%;
    }
    
    #content1b,
    #content2a {
        width: 55%;
    }
    
    #content3b,
    #content4a {
        width: 45%;
    }

    #content img {
        width:100%;
    }
}
@media (max-width:991px){
    
    #banner h1 {
        font-size:40px;
    }
}
@media (max-width: 767px) {
    #header2 {
        padding-top: 3px;
    }
    #service3 {
        clear:left;
    }
    
    #content1b ul li:before, 
    #content2a ul li:before, 
    #content3b ul li:before, 
    #content4a ul li:before, 
    #content5b ul li:before,
    #content6a ul li:before {
            position: relative;
            top: auto;
            left: auto;
            margin-right: 8px;
        }

    .banner_cover{
        height: 190px;
    }

    #service1:hover,
    #service2:hover,
    #service3:hover,
    #service4:hover {
        transform: scale(1.0);
    }
}

@media (min-width: 767px) {
  #content1b, 
  #content2a, 
  #content3b, 
  #content4a, 
  #content5b, 
  #content6a {
    padding-top: 31px;
    }
}

/*- Animation & Extras-*/
/*#wrapper {display: flex; flex-direction: column;}
#services {padding: 54px 0 33px;order: 2;}
#banner { order: 1; }
#content { order: 3; }
#contact { order: 4; }
footer { order: 5; }*/

#banner1 {
    animation:move 2s ease;
    width: 100%;
    padding-left: 10%;
    padding-right:10%;
}

@-webkit-keyframes move {
    from {transform: scale(0.8);opacity:0;}
    to {transform: scale(1.0);opacity:1;}
}

.btn:hover, 
.btn:focus, 
.btn:active, 
.btn.active, 
.open>.dropdown-toggle.btn,
.formbuilder-form input#submit-form:hover, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover,
#service1:hover,#service2:hover,#service3:hover,#service4:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in;
}